body{
    background-color: #0f172a;
}
*{
  margin:0;padding: 0;box-sizing: border-box;
}
.playwrite-de-grund-hi {
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.8rem;
}
.bulb{
    color:  #e2cc8a;
    font-size: 3rem;
    transform: rotate(-50deg);
    box-shadow: 0.5rem 10rem 7rem #ffffff;
}
.bulb-box{
    box-shadow: 6rem 8rem 5rem #ffffff;
}
.stylish-regular {
    font-family: "Stylish", serif;
    font-weight: 400;
    font-style: normal;
  }
  .shadow{
    background: radial-gradient(#e2cc8a,white);
    box-shadow: 1rem 3rem 5rem 1rem #eeb8b8;
    border-radius: 1rem;
    color: #19253f;
    padding: 0.5rem;
    border: 2px solid #e2cc8a;
  }
  .shadow-skill{
    background: radial-gradient(#e2cc8a,white);
    box-shadow: 0rem 0rem 1rem 0rem #eeb8b8;
    border-radius: 1rem;
    color: #19253f;
    padding: 0.5rem;
  }
@media (max-width:700px){
  .shadow-skill{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 20%;
  }
}
@media (max-width:300px){
  .shadow-skill{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 20%;
  }
}
.playwrite-au-sa-p {
  font-family: "Playwrite AU SA", cursive;
  font-optical-sizing :auto;
  font-weight :400;
  font-style:normal;
}
::-webkit-scrollbar{
  display: none;
}
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.ani{
  animation: red-light 4s ease-in-out 0s;
}
@keyframes red-light {
  from{
    box-shadow: 0rem 0rem 0rem 0rem;
  }
  to{
    box-shadow: 1rem 1rem 5rem 3rem red;
  }
}
.robo-msg{
  animation: move 1s ease-in-out 1s infinite;
}
@keyframes move {
  from{
    scale: 0.8;
  }to{
    scale:1.5
  }
  
}
